*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-bottom: 30px;
}

body{

   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center; 
   padding: 20px;
   background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(images/45974d95-95df-4d9d-989f-00a85ed20043.jpg); 
   background-size: cover;
   background-position: center;
}

.main{

    max-width: 700px;
    max-height: 10000px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

.main .Rform{

    font-size: 30px;
    font-weight: 500;
    position: relative;
}

.main .Rform::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #00ca11;
}

 .info{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.info .box{

    width:calc(100% / 2 - 35px);
    font-size: 18px;
    margin-bottom: 15px; 
}


.info .box .name{

    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.info .box input{
    
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.info .box input:focus,
.info .box input:valid{
    border-color: rgb(71, 172, 57);
}


 .gender-box .name{

    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

 .gender-box{
    padding-bottom: 20px;
    font-size: 18px;
}

 input[type="radio"]{
    display: none;
    
}

 label{

    position: relative;
    font-size: 15px;
}

 label::before{
    
    content: "";
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 10px;
}

 input[type="radio"]:checked + label::before{
    background-color: #00a108;
}

 #button {
    height: 40px;
    margin: 45px;
}

 #button input{
    height: 100%;
    width: 80%;
    margin-left: 55px;
    outline: none;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 18px;
    border-radius: 5px;
    background: #82ee82;
}

 #button input:hover{
    background: #2db934;
}


@media (max-width: 585px) {
    .main{
        max-width: 100%;
    }
     .info .box{
        margin-bottom: 15px;
        width: 100%;
    }
}


table{
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.30);
}

tr{
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color:#f3f3f3 ;
} 

tr:last-of-type{
    border-bottom: 3px solid #018612;
}


th{
    font-size: 17px;
    padding: 10px;
    background-color: #018612;
    color:white;
}

td{
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

